<!DOCTYPE html>
<html>
<head>
<title>结束羽毛球报名</title>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0,minimum-scale=1,maximum-scale=1,user-scalable=no">
<meta name="description" content="">
<meta name="author" content="Kuanghui Ding">
<link href="public/css/bootstrap.css" rel="stylesheet">
<link href="public/css/style.css" rel="stylesheet">
<link href="public/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
</head>
<body>
	<script src="/js/bootstrap-datetimepicker.min.js"></script>
	<script src="/js/bootstrap-datetimepicker.zh-CN.js"></script>
	<div class="div-img">
		<img src="/resource/badminton.png" class="img-responsive"
			alt="badminton" />
	</div>
	<div id="close_out_game_div" class="div-center">
		<div class="div-center-div" style="text-align: center;">
			<p>
				<b>活动详情：</b>
			</p>
			<p>
			  <b>起止时间：	<%= startTime %> - <%= startTime %> </b>
			</p>
			<p>
				<button id="close_out_game_confirm" type="button"
					class="btn btn-primary btn-lg">确认</button>
				<button id="close_out_game_cancel" type="button"
					class="btn btn-primary btn-lg">取消</button>
			</p>
		</div>
	</div>
	<div id="close_out_game" class="div-center" style="display: none;">
		<div class="div-center-div"
			style="text-align: center; font-size: 18px;">
			<p>结束报名!</p>
		</div>
	</div>
	<footer>
		<p>BID CBC 羽毛球俱乐部</p>
		<p class="powered-by">Powered by Falcon Team</p>
	</footer>
	<script src="public/js/jquery.js"></script>
	<script src="public/js/main.js"></script>
	<script src="public/js/close.js"></script>
</body>
</html>
